.hero {
    padding: 118px 0;
    text-align: center;
    background: var(--hero-footer-background);
}
.hero__overlay {
    max-width: 100%;
    min-height: 400px;
    margin: 0 auto;
    background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)),
        url(../images/hero-bg-img-mbl.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media 
(min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero__overlay { 
    background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)),
    url(../images/hero-bg-img-mbl@2x.jpeg);
    }
}
.hero__title {
    margin-bottom: 30px;
    @include font(900, 26px, 42px);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-light-color);
}
.hero__btn {
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    font-family: inherit;
    @include font(bold, 16px, 30px);
    letter-spacing: 0.06em;
    color: var(--main-light-color);
    background-color: var(--main-accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    &:hover,
    &:focus {
        background-color: var(--secondary-accent-color);
    }
}

@media screen and (min-width: 768px) {
.hero__overlay {
    background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)),
        url(../images/hero-bg-img-tblt.jpeg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero__overlay {
        background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)),
            url(../images/hero-bg-img-tblt@2x.jpeg);
    }
}
}


@media screen and (min-width: 1200px) {
.hero {
    padding: 200px 0;
}
.hero__overlay {
    max-width: 1600px;
    background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)),
    url(../images/hero-bg-img.jpeg);
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero__overlay {
        background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)),
            url(../images/hero-bg-img@2x.jpeg);
    }
}
    .hero__title {
        @include font(900, 44px, 60px);
    }
}